<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.219233013774-uenqrkjnrdkci1v8bfrha1e0tip87nbt</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>219233013774-uenqrkjnrdkci1v8bfrha1e0tip87nbt.apps.googleusercontent.com</string>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>runshaw</string>
		<key>UIImageName</key>
		<string>AppIcon</string>
		<key>UILaunchScreen</key>
		<dict/>
	</dict>
</dict>
</plist>
